.slider {
  position: relative;
  -webkit-appearance: none;
  width: 75%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  left: -5px;
  pointer-events: all;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
}

div .range-slider {
  margin: 30px;
  margin-left: 50px;
  padding: 0;
  position: relative;
  height: 100px;
  width: 100%;
}
div .slider_track {
  margin-top: 20px;
  position: relative;
  width: 75%;
  height: 10px;

  border-radius: 5px;
  cursor: pointer;
  pointer-events: all;
  left: 0;
  opacity: 0.6;
  transform: translate(-4px, -40px);
}

div .slider_thumb {
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: contain;
  left: 0%;
  transform: translate(-16px, -57px);
  opacity: 0.6;
}

.slider::-moz-range-track {
  background-color: orange;
  pointer-events: all;
  left: 0;
}
.slider::-moz-range-thumb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: black;
  pointer-events: all;
  z-index: 3;
}

.vert {
  margin: 50px;
  margin-left: 50%;
}

.vert_op {
  position: absolute;
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  transform: translate(-75%, -160%);
  font: bold 15px/30px Georgia;
}
.vert_op:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 10px solid grey;
  top: 100%;
  right: 40%;
  margin-left: -5px;
  margin-top: -1px;
}
.side_bubble {
  position: absolute;
  background-image: linear-gradient(to bottom, black, grey);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  left: 80%;
}
.side_bubble:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid grey;
  top: 40%;
  left: -10%;
  margin-left: -5px;
  margin-top: -1px;
}
.total {
  margin: 0;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.middle {
  width: 50%;
  height: 100px;
  max-width: 500px;
  margin: 50px;
  position: relative;
}
.dslider {
  z-index: 1;
  height: 10px;
  position: relative;
}
.dslider > .track {
  position: absolute;
  z-index: 1;
  height: 10px;
  border-radius: 5px;
  background-color: grey;
  left: 0;
  right: 0;
  bottom: 0;
}
.dslider > .range_btw {
  border-radius: 5px;
  left: 25%;
  right: 25%;
  background-color: rgb(219, 27, 27);
  height: 10px;
  position: absolute;
  z-index: 2;
  height: 10px;
}
.dslider > .thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(219, 27, 27);
  z-index: 3;
  opacity: 0.4;
  position: absolute;
  background-size: contain;
}
.dslider > #thumb_left1,
.dslider > #thumb_left2 {
  left: 25%;
  transform: translate(-10px, -5px);
}
.dslider > #thumb_right1,
.dslider > #thumb_right2 {
  right: 25%;
  transform: translate(10px, -5px);
}
.dthumb {
  position: absolute;
  -webkit-appearance: none;
  pointer-events: none;
  cursor: pointer;
  z-index: 2;
  width: 100%;
  height: 10px;
  opacity: 0;
}
#input_left {
  left: 0;
}
#input_right {
  right: 0;
}
.dthumb::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: black;
  pointer-events: all;
}
.dthumb::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background-color: black;
  pointer-events: all;
}
.dthumb::-moz-range-track {
  background-color: red;
  height: 0.01px;
  border-radius: 5px;
  width: 100%;
  pointer-events: none;
}
#result11,
#result21,
#result12,
#result22 {
  position: absolute;
  background-image: linear-gradient(to bottom, black, grey);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  transition: translate(50%, 50%);
  top: -10%;
}
#result11,
#result12 {
  left: -20%;
}
#result21,
#result22 {
  right: -20%;
}
#result21:after,
#result22:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid grey;
  top: 40%;
  left: -10%;
  margin-left: -5px;
  margin-top: -1px;
}
#result11:after,
#result12:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid grey;
  top: 40%;
  left: 100%;
  margin-right: -5px;
  margin-top: -1px;
}
